{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ song.title }}
{% endblock %}

{% block content %}
    <h1>{{ song.title }}</h1>
    <div class="row">
        <div class="col-4">
            <img src="{% if song.image %}{{ song.image.url }}{% else %}
                            {% static "img/no_song_image.png" %}{% endif %}"
                 class="user-detail" width="200px" height="200px">
        </div>
        <div class="col-8">
            <p>
                Исполнители:
                <span>
                        {% for singer in song.singers.all %}
                            <a href="{{ singer.get_absolute_url }}">{{ singer.name }}</a>
                        {% endfor %}
                    </span>
            </p>
            <p>
                Опубликовано: {{ song.published|date:"d-m-Y" }}
            </p>
            <p>
                Жанр: {{ song.genre.name }}
            </p>
            <p>
                {% if song.album %}
                    Альбом: <a href="{{ song.album.get_absolute_url }}">{{ song.album.title }}</a>
                {% else %}
                    СИНГЛ
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <audio controls style="width: 100%">
            <source src="{{ song.track.url }}" type="audio/ogg">
            Your browser dose not Support the audio Tag
        </audio>
    </div>
    <div class="row">

    </div>

    {% if song.clip_link %}
        <iframe width="560" height="315" src="{{ song.clip_link }}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    {% endif %}

{% endblock %}